table#tool-tip-text, table#tool-tip-text thead, table#tool-tip-text tbody, table#tool-tip-text tr, table#tool-tip-text tr td, table#tool-tip-text tr th {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 none #000 !important;
	color: #000 !important;
	font-weight: normal !important;
	line-height: 1em !important;
	border-collapse: collapse !important;
	text-decoration: none !important;
	background-color: #F90 !important;
	width: auto !important;
	vertical-align: top !important;
	text-align: left;
}
table#tool-tip-text {
	display: none;
	border: 1px solid #664A00 !important;
	z-index: 1000 !important;
	position: fixed !important;
	left: 0 !important;
	bottom: 0 !important;
}
table#tool-tip-text tr td {
	padding: 1px !important;
	font-size: 12px !important;
}
table#tool-tip-text tr th {
	padding: 1px !important;
	font-size: 10px !important;
	background-color: #9F0 !important;
}

table#tool-tip-text thead tr th {
	background-color: #FF0 !important;
}
table#tool-tip-text tfoot tr td {
	background-color: #999 !important;
}
table#tool-tip-text tfoot tr td.tool-tip-secure {
	background-color: #9F9 !important;
}
table#tool-tip-text tfoot tr td em {
	font-weight: bold !important;
}
